/* .container {
    background-image: url('Images/pitch.jpeg');
} */

#im1 {
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding-top: 10px;
}

.header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
}

.intro {
    text-align: center;
}

#rates-form {
    text-align: center;
}


#nameAndClub{
    position: absolute;
    left: 20%;
}

#player-stats{
    position: absolute;
    left: 70%;
   
}